
#hero {
  text-align: center;
  padding: 50px;
  background-color: #f5f5f5;
}

#services, #portfolio, #team, #contact {
  padding: 20px;
}

html {
  scroll-behavior: smooth;
}
button:hover {
  background-color: #1c86ee;
}

